.btn {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 2px;
  color:#fff;
  background-color: #ce2029;
  transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 18px 54px;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  opacity: .8;
  }
}
