@import '../../assets/stylesheets/globals.scss';

.stm {
  display: none;
  height: rem(55px);
  margin: rem(10px 0 25px);
  background-color: #f2f2f2;
  > div {
    text-align: center;
  }
}

.ad {
  min-height: rem(250px);
  width: rem(300px);
  background: #f2f2f2;
}

.rail {
  min-height: rem(250px);
  width: rem(300px);
  background: #f2f2f2;
  margin-bottom: rem(36px);
}


.railLong {
  min-height: rem(620px);
  width: rem(300px);
  background: #f2f2f2;
  margin-bottom: rem(36px);
}

.railSticky {
  position: sticky;
  top: 0;
  min-height: rem(250px);
  width: rem(300px);
  background: #f2f2f2;
  margin-bottom: rem(36px);
}

//Destop
@media only screen and (min-width: 768px) {
  .billboard {
    height: rem(250px);
    width: rem(970px);
    margin: rem(15px auto 50px auto);
    background-color: #f2f2f2;
    > div {
      text-align: center;
    }
  }

  .stm {
    display: block;
  }
}
