body {
  font-family: Coda, cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ce2029;
  background: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

@media only screen and (max-width: 800px) {
  .container {
    background-image: linear-gradient(415deg, #000000 0%, #0f0f0f 74%);
  }
}
