// Util Colors
$color-black: #000;
$color-white: #fff;
$color-red: #ed271c;

// Breakpoints
$media-tablet: 768px;
$media-desktop: 992px;
$media-desktop-large: 1200px;

// Universal styling
$mobile-text-padding: 0 16px;

// Icons
$icon-thumbs-up: '\e8dc';

// Homepage
$hero-gap: rem(16px);

$base-size: 16px;